/*font-family: 'Bungee Inline', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Codystar', cursive;
font-family: 'Fontdiner Swanky', cursive;
font-family: 'Megrim', cursive;
font-family: 'Monoton', cursive;
font-family: 'Press Start 2P', cursive;*/

h1 {
    font-size: 50px;
    line-height: 24px;
    font-family: 'Megrim', cursive;
    font-weight: 600;
    text-align: center;
}

#subhead {
  font-family: Avenir, sans-serif;
  color: black;
  text-align: center;
  font-weight: 400;
}

img.ownLine {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.centerImage {
  padding: 0 50px 0 50px;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  font-family: 'Times New Roman', serif;
  font-style: italic;
  text-align: center, justify;
  color: white;
}

body {
  background-color: #faebd7;
}

.wrapper {
  text-align: center;
  font-family: Avenir, sans-serif;
}

ol {
  list-style-type: none;
}

ul#frontPage {
  margin-top: 0;
  /*padding: 0;*/
  display: inline-block;
  list-style-type: none;
}

li.centered {
  margin-left: auto;
  margin-right: auto;
}

li {
  /*float: left;*/
  margin-right: : auto;
  margin-left: auto;
  margin-top: 0;
  padding: 0 50px 180px 50px;
  font-family: Avenir, sans-serif;
}

p.center {
  text-align: center;
  font-family: Avenir, sans-serif;
}
